<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyicloud.account.mapper.SanyiAccountInviteMapper">
    <resultMap id="BaseResultMap" type="com.sanyicloud.account.entity.po.SanyiAccountInvite">
        <!--@mbg.generated-->
        <!--@Table sanyi_account_invite-->
        <id column="invite_id" property="inviteId" />
        <result column="direct_inviter_id" jdbcType="VARCHAR" property="directInviterId" />
        <result column="invite_time" jdbcType="VARCHAR" property="inviteTime" />
        <result column="del_state" jdbcType="TINYINT" property="delState" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
         invite_id, direct_inviter_id, create_time, update_time, invite_time, del_state
    </sql>
</mapper>